:root {
  --color-accent: oklch(65% 50% 0);
  color-scheme: light dark;
  --border-color: oklch(50% 10% 200 / 40%);
}

body {
  font: 100%/1.5 system-ui;
  display: block;
  margin: 8px;
  max-width: 100ch;
  margin-inline: auto;
  padding: 2rem;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  /* background-color: color-mix(in oklch, var(--color-accent), canvas 85%); */
}

nav a {
  padding: 0.5em;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.4em solid transparent;
}

nav a:hover {
  border-bottom: 0.4em solid var(--border-color);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

/* ul {
  display: contents;
} */

/* li {
  display: contents;
} */

a.current {
  text-decoration: none;
  flex: 1;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.3em;
  border-bottom: 0.4em;
  border-bottom-color: oklch(80% 3% 200);
  border-bottom-style: solid;  
  padding-bottom: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  flex: 1;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.3em;
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

input, textarea, button {
  font: inherit;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em
}

h2 {
  margin-top: 1em;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

body.resume {
  background-color: canvas;
}


body.resume header {
  margin: 1em;
}

body.resume h1 {
  line-height: 0.5;
  text-wrap: balance;
  white-space: nowrap;
}

body.resume p {
  margin: 0;
  padding: 0;
}

body.resume section {
  padding: 1em;
  line-height: 2em;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

input, textarea, button, select {
  font: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

#profile-stats dt {
  grid-row: 1;
}

#profile-stats dd {
  grid-row: 2;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projectyear {
  font-size: 1.5em;
  font-family: Baskerville;
  font-variant-numeric: oldstyle-nums
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
  display: inline-block;
}

ul.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1.5em;
  border: solid 1px var(--border-color);
  padding: 1em;
  margin: 0.5em;
  flex: 1;
}

li.legend-item{
  display: flex;
  align-items: center;
  gap: 0.25em;
}

div.container {
  display: flex;
  gap: 0.5em; 
  align-items: center;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.stats dt {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: oklch(60% 5% 250);
  margin-bottom: 0.25rem;
}

.stats dd {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  color: oklch(95% 0% 0);
}
